body {
	  margin-left: 20px; 
	  margin-right: 20px; 
	  margin-top: 20px; 
	  margin-bottom: 20px;
     background: #000000
	  }

a:link { 
	   font-family: Verdana, Arial, Sans-serif; 
	   font-size: 11pt; 
	   font-weight: 400; 
	   font-style: normal; 
	   text-decoration: none; 
	   text-transform: none; 
	   font-variant: normal;
	    color: #3366FF;
		 background: #000000;
	   }
	   
a:visited {
	   font-family: Verdana, Arial, Sans-serif; 
	   font-size: 11pt; 
	   font-weight: 400; 
	   font-style: normal; 
	   text-decoration: none; 
	   text-transform: none; 
	   font-variant: normal;
	   color:  #FF00FF;
	    background: #000000;
	   
	   
	   }
	   
a:active {
       font-family: Verdana, Arial, Sans-serif; 
	   font-size: 11pt; 
	   font-weight: 400; 
	   font-style: normal; 
	   text-decoration: none; 
	   text-transform: none; 
	   font-variant: normal; 
	   color: #FF0000;
	    background: #000000; 
  }
	   
h1 {
   	    font-family: Verdana, Arial, Sans-serif; 
		font-size: 150%; 
		font-weight: 500; 
		font-style: normal; 
		text-decoration: none; 
		text-transform: none; 
		font-variant: normal; 
		color:    #0099CC;
		 background: #000000;
		
		
		}
		
h2 {
   font-family: Verdana, Arial, Sans-serif; 
   font-size: 130%; 
   font-weight: 500; 
   font-style: normal; 
   text-decoration: none; 
   text-transform: none; 
   font-variant: normal; 
   color:  #0099CC ;
    background: #000000;    }		
 
 
h3 {
   font-family: Verdana, Arial, Sans-serif; 
   font-size: 110%; 
   font-weight: 500; 
   font-style: normal; 
   text-decoration: none; 
   text-transform: none; 
   font-variant: normal; 
   color:   #0099CC;
    background: #000000;
  }
   
p { 
  font-family: Verdana, Arial, Sans-serif; 
 font-size: 11pt; font-weight: 400; 
  font-style: normal; 
  text-decoration: none; 
  text-transform: none; 
  font-variant: normal; 
	color: #CCFFFF;
	 background: #000000;} 
  
 
    

  
li { 
  font-family: Verdana, Arial, Sans-serif; 
  font-size: 11pt; font-weight: 400; 
  font-style: normal; 
  text-decoration: none; 
  text-transform: none; 
  font-variant: normal; 
	color: #CCFFFF;
	 background: #000000;} 
 
 dfn { 
  font-family: Verdana, Arial, Sans-serif; 
  font-size: small; font-weight: 400; 
  font-style: normal; 
  text-decoration: none; 
  text-transform: none; 
  font-variant: normal; 
	color: #CC0000;
	 background: #000000;} 
 
	 dl { 
  font-family: Verdana, Arial, Sans-serif; 
  font-size: small; font-weight: 400; 
  font-style: normal; 
  text-decoration: none; 
  text-transform: none; 
  font-variant: normal; 
	} 
 
 dt { 
  font-family: Verdana, Arial, Sans-serif; 
  font-size: small; font-weight: 400; 
  font-style: normal; 
  text-decoration: none; 
  text-transform: none; 
  font-variant: normal; 
	color: #00FF00;
	 background: #000000;} 
	 
	 dd { 
  font-family: Verdana, Arial, Sans-serif; 
  font-size: small; font-weight: 400; 
  font-style: normal; 
  text-decoration: none; 
  text-transform: none; 
  font-variant: normal; 
	color: #ccccff;
	 background: #000000;} 
				 
.red { color: #FF0000; background: #000000;}

.green { color: #00FF00; background: #000000;}
.blue {color: #6699FF; background: #000000;}

td { 
  font-family: Verdana, Arial, Sans-serif; 
  font-size: small; font-weight: 400; 
  font-style: normal; 
  text-decoration: none; 
  text-transform: none; 
  font-variant: normal; 
	color: #00FF00;
	 background: #000000;}

.text {color: #CCFFFF;
	 background: #000000;} 

