body {
	background-image: url(./starry-h.jpg);
	margin-left: 5px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: black;
}
a:link {
	font-family: Verdana,Arial,Sans-serif;
	font-size: 11pt;
	font-weight: 400;
	font-style: normal;
	text-decoration: underline;
	text-transform: none;
	font-variant: normal;
	color: #ff0000;
	background-color: transparent;
}
a:visited {
	font-family: Verdana,Arial,Sans-serif;
	font-size: 11pt;
	font-weight: 400;
	font-style: normal;
	text-decoration: underline;
	text-transform: none;
	font-variant: normal;
	color: #cc00ff;
	background-color: transparent;
}
a:active {
	font-family: Verdana,Arial,Sans-serif;
	font-size: 11pt;
	font-weight: 400;
	font-style: normal;
	text-decoration: underline;
	text-transform: none;
	font-variant: normal;
	color: #00FF00;
	background-color: transparent;
}
a:hover {
	font-family: Verdana,Arial,Sans-serif;
	font-size: 11pt;
	font-weight: 400;
	font-style: normal;
	text-decoration: underline;
	text-transform: none;
	font-variant: normal;
	color: #FF0066;
	background-color: black;
}
h1 {
	font-family: Verdana,Arial,Sans-serif;
	font-size: 165%;
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
	font-variant: normal;
	color: #0099Cc;
	background-color: transparent;
}
h2 {
	font-family: Verdana,Arial,Sans-serif;
	font-size: 145%;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
	font-variant: normal;
	color: #0099CC;
	background-color: transparent;
}
h3 {
	font-family: Verdana,Arial,Sans-serif;
	font-size: 110%;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
	font-variant: normal;
	color: #0099CC;
	background-color: transparent;
}
p {
	font-family: Verdana,Arial,Sans-serif;
	font-size: 11pt;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
	font-variant: normal;
	color: #CCFFFF;
	background-color: transparent;
}
li {
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size: 11pt;
	font-weight: 400;
	color: #CCFFFF;
	background-color: transparent;
}
td {
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size: 11pt;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
	font-variant: normal;
	vertical-align: top;
	text-align: left;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.nav-table {
	vertical-align: top;
	text-align: left;
	font-size: 12pt;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
}
.main-table {
	vertical-align: top;
	text-align: left;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 100%;
	font-family: Verdana,Arial,Sans-serif;
	font-size: 11pt;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
	font-variant: normal;
}
.generic-text {
	font-family: Verdana,Arial,Sans-serif;
	font-size: 11pt;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
	font-variant: normal;
}
.logo-cell {
	vertical-align: top;
	text-align: center;
	width: 200px;
}
.gallery-image {
	border: 0;
}
.gallery-text {
	padding-left: 15px;
	vertical-align: top;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size: 11pt;
	color: #CCFFFF;
	background-color: transparent;
}
.red {
	color: #FF0000;
	background-color: transparent;
}
.green {
	color: #00FF00;
	background-color: transparent;
}
.blue {
	color: #66CCFF;
	background-color: transparent;
}
ul {
	color: #CCFFFF;
	background-color: transparent;
}
.space {
	line-height: 150%;
}
.b {
	line-height: 125%;
	font-weight: 600;
}
.nav-table {
	background-color: 000000;
}
.text {
	color: #CCFFFF;
	background: #000000;
}
.lg {
	font-family: Verdana,Arial,Sans-serif;
	font-size: 165%;
	font-weight: 600;
	font-style: normal;
}
