createdAt: "2019-04-14T19:48:07.145Z"
updatedAt: "2019-04-14T22:01:32.217Z"
type: "MARKDOWN_NOTE"
folder: "122ec9f16838a493ad08"
title: "Centrifugal Pump"
tags: [
  "Fluid"
  "Pump"
]
content: '''
  <h1>Centrifugal Pump</h1>
  <h4>Gases</h4>
  <p>
  storage pressure of propane (at <b>21&deg;C</b>) = <b>850,000 </b>Pa (or 8.5 bar)<br>
  1atm = <b>101,325 </b>Pa
  </p>
  
  <p>
  
  Therefore a pressure increase of at least 8 times is required for air to be used at the same pressure as propane. This would most likely be done using a combination of an axial-flow pump (similar to a fan) and a centrifugal pump.
  ![Axial-Flow pump](https://cdn.britannica.com/s:500x350/59/3659-004-E4DF213F.jpg =200x150)
  </p>
  <br>
  
  <h4>Euler's Pump equation</h4>
  <p>Euler's pump equation can be used to calculate the flow rate of gas as it exits a centrifugal pump
  
  $M + M_r = \\rho\\cdot Q \\cdot(c_2 \\cdot r_2 - c_1\\cdot r_1)$
  
  $M=\\ external\\ torque\\ (Nm)$$
  $M_r=\\ friction\\ acting\\ against\\ impeller\\ (Nm)$
  $\\rho=\\ density\\ (kgm^{-3})$
  $Q=\\  volumetric\\ flow\\ rate\\ (m^3s^{-1})$
  $c_2=\\ flow\\ velocity\\ at\\ circumference\\ of\\ impeller\\ (ms^{-1})$
  $r_2=\\ radius\\ of\\ impeller\\ (m)$
  $c_1\\ \\&\\ r_1\\ are\\ equivalent\\ (c_2\\ \\&\\ r_2)\\ for\\ inlet\\ of\\ impeller$
  
  [Browse Formulae](https://www.fxsolver.com/browse/)
  </p>
'''
linesHighlighted: []
isStarred: false
isTrashed: false
